*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background: radial-gradient(circle, rgba(38,47,128,1) 0%, rgba(31,38,103,1) 100%);
}

h1{

    margin-top: 100px;
    color: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

}

p{
    color: white;
    font-style: italic;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.calculator {

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    position: relative;
    border: 1px solid rgba(34,34,34,0.3);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(34,34,34,0.3) 0%, rgba(0,0,0,0.3) 100%);
    width: 400px;
    height: 600px;

}

.calculator:hover{
    border: 1px solid rgba(34,34,34,0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 1);

}

.disp{

    position: absolute;
    width: 100%;
    height: 20%;
    border: 0px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
    color: rgba(255, 255, 255, 0.9);

}

.disp h2{
    margin: 20px;
    direction: rtl;
    overflow: auto;
}

.disp h4{
    margin: 20px;
}

table{
    table-layout: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
}

table .numbers {
    cursor: pointer;
    position: relative;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    font-size: large;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    border: rgba(0, 0, 0, 1);
}

table .numbers:hover {
    background: rgba(0, 0, 0, 0.7);
}

table .operators{
    color: black;
    background: linear-gradient(180deg, rgba(255,100,100,1) 0%, rgba(255,90,90,1) 100%);}

table .operators:hover {
    background: rgba(100, 50, 50);
    color: white;
}

::-webkit-scrollbar {
    height: auto;
    }
    
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0, 0.3); 
    border-radius: 10px;
    }
    
::-webkit-scrollbar-thumb:hover {
    background:rgb(0, 0, 0, 0.5); 
}